<div class="about-page-container">
  <h1>Welcome to the about page!</h1>
  <h2>Here will be discribed the theme of my graduate work</h2>
  <p>Vision is an important source of information for a person. Thanks to him, we get from 70% to 90% of knowledge
  about the world around us, according to different estimates. A person perceives the three-dimensional structure of
  the surrounding world easily and does not even think about what complex processes occur in his head.
  Sitting on the table, we can describe the flower that stands in front of us, we can specify the shape and
  translucency of each petal. Looking at the group portrait in the frame, we can also count and even name all
  the people who are depicted on it, describe their emotions and appearance. Computer vision is one of the most complex
  processes that a person has ever tried to understand, and from here it follows that it is extremely difficult to develop
  automated systems using its capabilities. There are many algorithms that make it possible for a computer to recognize
  objects in the image with some degree of accuracy. For each of the algorithms there are some limits to its correct
  operation. Researchers in the field of computer vision are developing mathematical methods that will help recreate a
  three-dimensional model of an object, based on its two-dimensional image. Also, modern developments allow a computer to
  recognize a person walking in real time or to name each person on the screen of a mobile phone. But despite all the
  achievements, the level of development of such systems is comparable with the development of a two-year-old child,
  although this greatly facilitates the work of a person. Computer vision is now used in a wide range of applications
  used to solve any problems, which include:</p>
  <ul>
    <li>Optical character recognition (OCR). Reading of handwritten postal codes on letters and recognition of license plates;</li>
    <li>Checking the equipment. Inspection of parts for quality assurance using stereophonic vision with specialized lighting for measuring the permissible defects on the wings of aircraft or automobile body parts, troubleshooting steel castings using X-ray vision;</li>
    <li>Observation. Monitoring violators that exceed speed on the road or search for drowning in pools;</li>
    <li>Identification of fingerprints and biometrics;</li>
    <li>And etc.</li>
  </ul>
  <p>As you can see, the topic of CV is very relevant in the modern world and contains many problems that are solved with
  the creation of new algorithms and optimization of existing ones. The task of this thesis is writing a web
  application that will use short-circuit algorithms and recognize barcodes on raster images. The first chapter is
  devoted to a detailed description of the subject of computer vision, the description of algorithms, barcodes and their
  types, while the second is devoted to building the application itself using various technologies.</p>
  <p>The program consists of the front end of the part, which is implemented using Angular 2 and typescript, a server
    written in node.js, a python script and two libraries: QuaggaJS - to implement the algorithm in the programming
    language JavaScript and OpenCV - to implement the algorithm in the programming language Python. Using Angular 2
    together with typescript is a good solution, because Despite their relative novelty, these technologies have already
    received respect among the front-end developers, and python provides a concise syntax and a wide variety of built-in
    functions. QuaggaJS and OpenCV are one of the most popular libraries for processing images in JavaScript and Python,
    respectively.</p>
  <p>The scientific supervisor of this graduate work is Dubrov Boris Mikhailovich - 
    associate Professor of the Department of Mathematical Physics of FPMI, Candidate of Physical and Mathematical Sciences</p>
</div>