<div class="contacts-page-container">
  <div class="img-container">
    <img src="/assets/img/avatar.gif" alt="avatar">
  </div>
  
  <div class="contacts-container">
    <ul>
      <li>Name: Mikita Nikolski</li>
      <li>Age: 21</li>
      <li>University: Belarusian State University</li>
      <li>Faculty: Mechanics and mathematics faculty</li>
      <li>Speciality: Mathematics and information technology</li>
      <li>Course: 4</li>
      <li>Phone: +375 29 662 53 93</li>
      <li>Email: nikitanikolski@gmail.com</li>

    </ul>
  </div>

  <div class="description-container">
    <p>My name is Mikita Nikolski and I'm a student of Belarusian State University of the Mechanics and mathematics
      faculty. It's my last year of study. I've been working for a year and a half as a front-end developer in a large
      IT company. I deсided to choose the topic of my thesis "The algorithms of computer vision" because I thought it
      would be interesting to understand a new area of programming.
    </p>
  </div>
</div>
