<div class="app-container">
  <header>
    <a class="logo" routerLink='/start-page'>Computer vision</a>
    <nav>
      <ul>
        <li><a [routerLink]="['/app-page']">App page</a></li>
        <li><a [routerLink]="['/about-page']">About</a></li>
        <li><a [routerLink]="['/contacts-page']">Contacts</a></li>
      </ul>
    </nav>
  </header>

  <content>
    <router-outlet></router-outlet>
  </content>

  <footer>
    <span>Copyrights © 2017.</span>
    <p>Made and designed by Nikita Nikolski</p>
  </footer>
</div>