.app-container {
    font-family: "Arial";

    height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: RalewayLight;

    header {
        display: flex;
        justify-content: space-between;

        padding: 0 10px;

        nav {
            width: 230px;

            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-between;

                padding: 0;
            }
        }
    }

    content {
        flex: 1;
    }

    footer {
        text-align: center;
        padding-bottom: 10px;

        p {
            margin: 0;
        }
    }
}
