.app-container {
    font-family: "Arial";

    height: 100vh;
    padding: 0 10px;

    display: flex;
    flex-direction: column;

    header {
        display: flex;
        justify-content: space-between;

        nav {
            width: 230px;

            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-between;
            }
        }
    }

    content {
        flex: 1;
    }

    footer {
        p {
            text-align: center;
        }
    }
}
